div.minefield { text-align: center; margin:10%; }

.minefield table td {
  border: solid black;
  height: 1.2em;
  width: 1.2em;
  text-align: center; }
td { font-weight: bold; font-size: 5em; }

.minefield td          { color: silver; }
.minefield .mine     { color: black; }
.minefield .triggered { background-color: pink; }
.minefield .unexplored { color: #eeeeee; }
.minefield .mines-0  { color: white; }
.minefield .mines-1  { color: green; }
.minefield .mines-2  { color: blue; }
.minefield .mines-3  { color: yellow; }
.minefield .mines-4  { color: orange; }
.minefield .mines-5,.minefield .mines-6,.minefield .mines-7,.minefield .mines-8  { color: red; }

